<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheet/style.css"></link>
  <link rel="stylesheet" href="/stylesheets/partials.css" />
  <title>Edit Item <%= foods.name %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="edit-body">
  <h1>Edit <%= foods.name %></h1>
  <form action="/users/<%=user._id%>/foods" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= foods.name %>" />

        <label for="category">Category</label>
        <select id="category" name="category">
          <option value="Fruit" <%= foods.category === "Fruit" ? "selected" : "" %>>Fruit</option>
          <option value="Vegetable" <%= foods.category === "Vegetable" ? "selected" : "" %>>Vegetable</option>
          <option value="Dairy" <%= foods.category === "Dairy" ? "selected" : "" %>>Dairy</option>
          <option value="Spice" <%= foods.category === "Spice" ? "selected" : "" %>>Spice</option>
          <option value="Meats" <%= foods.category === "Meats" ? "selected" : "" %>>Meats</option>
          <option value="Fish" <%= foods.category === "Fish" ? "selected" : "" %>>Fish</option>
          <option value="Eggs" <%= foods.category === "Eggs" ? "selected" : "" %>>Eggs</option>
          <option value="Grains" <%= foods.category === "Grains" ? "selected" : "" %>>Grains</option>
          <option value="Legumes" <%= foods.category === "Legumes" ? "selected" : "" %>>Legumes</option>
          <option value="Milk" <%= foods.category === "Milk" ? "selected" : "" %>>Milk</option>
          <option value="Fats" <%= foods.category === "Fats" ? "selected" : "" %>>Fats</option>
          <option value="Oils " <%= foods.category === "Oils " ? "selected" : "" %>>Oils</option>
          <option value="Sugar or Sweetener" <%= foods.category === "Sugar or Sweetener" ? "selected" : "" %>>Sugar or Sweetener</option>
          <option value="Herbs" <%= foods.category === "Herbs" ? "selected" : "" %>>Herbs</option>
          <option value="Sauces" <%= foods.category === "Sauces" ? "selected" : "" %>>Sauces</option>
          <option value="Dressing " <%= foods.category === "Dressing " ? "selected" : "" %>>Dressing</option>
          <option value="Leavening Agents" <%= foods.category === "Leavening Agents" ? "selected" : "" %>>Leavening Agents</option>
          <option value= "Thickeners,Stabilizers & Binders" <%= foods.category === "Thickeners,Stabilizers & Binders" ? "selected" : "" %>>Thickeners, Stabilizers & Binders</option>
          </select>

        <label for="notes">Notes</label>
        <textarea name="notes" id="notes"><%= foods.notes %></textarea>

        <label for="expiration">Expiration</label>
        <input type="date" name="expiration" id="expiration" value="<%= foods.expiration %>" min="yyyy-MM-dd(today)" max="yyyy-MM-dd"/>

    <button type="submit">Update Item</button>
  </form>
</div>
</body>
</html>